@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(240, 247, 255, 0.15);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(180, 212, 252, 0.4);
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    all: unset;
    @apply bg-baseBackground;
  }
}

@layer components {
  .btn {
    @apply border p-2;
  }
}
