@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(240, 247, 255, 0.15);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(180, 212, 252, 0.4);
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    all: unset;
    @apply bg-baseBackground-100;
  }
}

@layer components {
  .background-gradient {
    @apply bg-gradient-to-bl from-baseBackground-200 via-baseBackground-100 to-baseBackground-100;
  }

  .btn {
    @apply w-full rounded-sm border border-themePrimary-300/40 p-2 font-mukta leading-6 tracking-wider text-themePrimary-50 transition-all hover:border-themePrimary-300 hover:bg-themePrimary-300 hover:text-themePrimary-1000;
  }
}
