@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

@tailwind base;

/* * {
  @apply outline outline-1 outline-themePrimary-50/40;
} */

/* Firefox */
* {
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: rgba(240, 247, 255, 0.01);
  border-radius: 1px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(180, 212, 252, 0.1);
  border-radius: 2px;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    all: unset;
    @apply bg-baseBackground-100;
  }
}

@layer components {
  .background-gradient {
    @apply bg-gradient-to-bl from-baseBackground-200 via-baseBackground-100 to-baseBackground-100 brightness-90;
  }

  .btn {
    @apply w-full select-none rounded-sm border border-themePrimary-300/40 p-2 font-mukta leading-6 tracking-wider text-themePrimary-50/70 transition-all duration-150 ease-in-out hover:border-themePrimary-300/50 hover:bg-gradient-to-br hover:from-transparent hover:to-themePrimary-50/5 hover:text-themePrimary-50 hover:shadow-lg hover:shadow-baseBackground-100/80;
  }
  .input {
    @apply h-10 w-full rounded-md bg-themePrimary-50/5 p-1 px-2 font-mukta text-base leading-tight tracking-wide text-themePrimary-50 outline-none focus:outline-themePrimary-300/40;
  }
  .textarea {
    @apply h-20 w-full resize-none rounded-md bg-themePrimary-50/5 p-2 font-mukta text-lg leading-tight tracking-wide text-themePrimary-50 outline-none focus:outline-1 focus:outline-themePrimary-300/40;
  }

  .navbar-icon-inactive {
    @apply rounded-full text-themePrimary-100/70 duration-150 ease-in-out group-hover:text-themePrimary-50;
  }

  .navbar-icon-active {
    @apply text-themePrimary-50/90 duration-150 ease-in-out group-hover:text-themePrimary-50;
  }
}
